.container .tile{
    padding-bottom: 15px;
    padding-top: 15px;
    min-height:110px;
}
.container img{
    height:110px;
    margin-bottom: 18px;
}
.details{
    font-weight:bold;
}
.ellipses{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/*.ellipses:hover{
    text-overflow: clip;
    white-space: normal;
    word-break: break-all;
}*/